form {
  display: grid;
  max-width: 290px;
  background-color: #EDEFEE;
  border-radius: 16px;
  padding: 2rem;
  margin: 0 auto;
  text-align: start;
  gap: 20px;
  box-shadow: 0 0 20px #404040;
}

form label {
  font-weight: 700;
  font-family: inherit;
}
form label.required::after {
  content: "*";
  color: #EE9972;
  font-weight: 700;
  margin-left: 0.2rem;
}

form input,
form select {
  height: 35px;
  font-family: inherit;
  padding: 0 1rem;
  border: none;
  border-radius: 16px;
}

form select,
form select:focus {
  border-right: 1rem solid transparent;
}

form .field-valid {

}

form .field-invalid {

}

form button {
  margin-top: 1rem;
}

form .feedback-list {
  list-style: none;
}

form .feedback {
  color: #EE9972;
  font-size: 0.9rem;
}

.signup-txt {
  font-size: 0.9rem;
  justify-self: center;
}