button {
  width: 180px;
  height: 35px;
  border: none;
  border-radius: 16px;
  background-color: #F4CE14;
  cursor: pointer;
  transition: 0.1s;

  font-size: 1rem;
  font-family: 'Karla', sans-serif;
  font-weight: 500;
}

button:hover, button:focus {
  color: white;
  background-color: #EE9972;
  transform: scale(1.05);
}

button:active {
  color: black;
  background-color: #FBDABB;
}