.review {
  width: 190px;
  min-height: 190px;
  padding: 1.5rem;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-radius: 16px;
  background-color: #EDEFEE;
}

.review img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  object-fit: cover;
}

.review figure {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0;
}

.review p {
  font-size: 0.9rem;
  line-height: 1.2rem;
}