.about {
  width: 100%;
  display: flex;
  padding: 50px 0;
  justify-content: center;
  background-color: #495E57;
  color: white;
}

.about > div {
  width: 100%;
  padding: 0 1rem;
  max-width: 860px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: start;
}

.about > div article {
  flex: 1 1 280px;
  text-align: start;
}

.about-desc {
  margin-top: 2rem;
}

.photo-stack {
  position: relative;
  width: 320px;
  height: 320px;
  margin: 0 auto;
}

.photo {
  position: absolute;
  width: 200px;
  height: 250px;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 0 20px #404040;
  transition: transform 0.3s ease;
}

.photo-back {
  bottom: 0;
  left: 0;
  z-index: 1;
}

.photo-back:hover {
  z-index: 3;
}

.photo-front {
  bottom: 70px;
  left: 70px;
  z-index: 2;
}

.photo:hover {
  cursor: pointer;
  transform: scale(1.05);
}