footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container {
  width: 100%;
  max-width: 730px;
  padding: 20px 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  align-items: start;
  text-align: start;
}

footer nav,
footer address {
  display: block;
  margin: 0;
  padding: 0;
  font-style: normal;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h4 {
  margin-top: 0;
  font-weight: 700;
  text-transform: uppercase;
}

footer a {
  color: black;
  text-decoration: none;
  transition: 0.1s;
}

footer a:hover, footer a:focus {
  font-size: 1.05rem;
  text-decoration: underline;
}