footer {
  display: grid;
  grid-template-columns: auto repeat(3, 180px);
  column-gap: 20px;
  align-items: start;
  text-align: start;
}

footer nav,
footer address {
  display: block;
  margin: 0;
  padding: 0;
  font-style: normal;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h4 {
  margin-top: 0;
  text-transform: uppercase;
}