header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #495E57;
  color: white;
}

header > div {
  width: 100%;
  max-width: 730px;
  padding: 1.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}

header section {
  flex: 1 1 280px;
  text-align: start;
}

header section div {
  margin-bottom: 3rem;
}

header figure {
  flex: 0 0 230px;
  max-height: 250px;
  max-width: 100%;
  margin: 0;
  border-radius: 16px;
  overflow: hidden;
}

header figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
