* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, .shop-loc {
  font-family: 'Markazi Text', serif;
}

h1 {
  font-size: 3.3rem;
}

h2, .shop-loc {
  font-size: 2rem;
}

h3, .section-title {
  font-weight: 700;
  font-size: 1.1rem;
}

.shop-name {
  color: #F4CE14;
  font-size: 3.3rem;
}

p {
  line-height: 1.5rem;
}