* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, .shop-loc {
  font-family: 'Markazi Text', serif;
}

h1 {
  font-size: 3.3rem;
}

h2, .shop-loc {
  font-size: 2rem;
}

h3, .section-title {
  font-weight: 700;
  font-size: 1.1rem;
}

.shop-name {
  color: #F4CE14;
  font-size: 3.3rem;
}

p {
  line-height: 1.5rem;
}

.preset-btn {
  min-width: 180px;
  height: 35px;
  padding: 0 1rem;
  border: none;
  border-radius: 16px;
  background-color: #F4CE14;
  cursor: pointer;
  transition:
    transform 0.15s ease,
    background-color 0.15s ease;

  font-size: 1rem;
  font-family: 'Karla', sans-serif;
  font-weight: 500;
}

.preset-btn:hover, .preset-btn:focus {
  color: white;
  background-color: #EE9972;
  transform: scale(1.05);
}

.preset-btn:active {
  color: black;
  background-color: #FBDABB;
}

*:focus {
  border: none;
  outline: 2px solid #EE9972;
  outline-offset: 1px;
}

hr {
  border: none;
  border-radius: 2px;
  height: 2px;
  background-color: #909090;
  margin: 20px auto;
  width: 90%;
}