nav {
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  gap: 1rem;
}

.nav-links a {
  color: black;
  font-weight: 700;
  text-decoration: none;
  padding: 0.5rem;
  border: none;
  border-radius: 16px;
  transition: 0.1s;
}

.nav-links a:hover, .nav-links a:focus{
  color: white;
  background-color: #EE9972;
}