form {
  width: 100%;
  padding: 50px 0;
  background-color: #495E57;
}

form h1 {
  color: white;
  margin-bottom: 1rem;
}

.form-container {
  display: grid;
  max-width: 290px;
  background-color: #EDEFEE;
  border-radius: 16px;
  padding: 2rem;
  margin: 0 auto;
  text-align: start;
  gap: 20px;
  box-shadow: 0 0 20px #404040;
}

.form-container label {
  font-weight: 700;
}
.form-container label::after {
  content: "*";
  color: #EE9972;
  font-family: inherit;
  font-weight: 700;
  margin-left: 0.2rem;
}

form input,
form select {
  height: 35px;
  font-family: inherit;
  padding: 0 1rem;
  border: none;
  border-radius: 16px;
}

form select, form select:focus {
  border-right: 1rem solid transparent;
}

form button {
  margin-top: 1rem;
}
